page-about {
    
.black-olive { color: #3E3E3E }
.tart-orange { color: #F34B49 }

.bg-black-olive { background-color: #3E3E3E }
.bg-tart-orange { background-color: #F34B49 }

.border-black-olive { border-color: #3E3E3E }
.border-tart-orange { border-color: #F34B49 }

.width-100 { width: 100vw; }
.height-100 { height: 100vh; }

.h-headline { font-size: 3rem; }

.border-1 { border-width: 1rem; }
}
